
.widget-mermaidwidget-clickable {
    cursor: pointer;
}

.widget-mermaidwidget {
    display: inline-block;
}

.widget-mermaidwidget.badge:empty {
    display: initial;
    /* Fix padding to stay round */
    padding: 3px 10px;
}

.widget-mermaidwidget.label:empty {
    display: initial;
    /* Fix padding to stay square */
    padding: .2em .8em .3em;
}

.widget-mermaidwidget.badge {
    min-width: 18px;
    min-height: 18px;
}

div.mermaid {
    font-family: 'Titillium Web', verdana, arial;
}